.BookRoot{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  align-items: stretch;
}

.BookRoot .BookList {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.BookRoot .BookList > div {
  height: 34px;
  border-radius: 4px;
  display: flex;
  align-items: center;
/*  justify-content: center;*/
}

.BookRoot .BookList > div:hover {
  background-color: #e6e9ef;
  cursor: pointer;
}

.BookRoot .BookList .ProdList__Divider:hover {
  background-color: initial;
  cursor: auto;
}

.BookRoot .BookList .ProdList__Divider hr {
  flex: 1;
}

.BookRoot .BookList__Title {
  height: 48px;
  padding: 10px 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
/*  justify-content: center;*/
}

.BookRoot .BookList__Action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BookRoot .BookList__Search{
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.BookList > div > .BookList__Icon__Text{
  flex: 1;  
}

.BookRoot .BookList__Icon{
  display: flex;
  align-items: center;
  width: 35px;
  justify-content: center;
  !border: 1px solid black;
}

.BookRoot .BookList__Search.Searching{
  border: 1px solid #0085ff;
}

.BookRoot .BookList__Search .BookList__Search__Input{
}

.BookRoot .BookList__Search .BookList__Search__Input input,
.BookRoot .BookList__Search .BookList__Search__Input input:focus {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}


.BookRoot .BookList__Search .MuiInput-underline:before{
  border: 1px solid rgba(0, 0, 0, 0.42);
  height: 31px;
  border-radius: 4px;
}

.BookRoot .BookList__Search .MuiInput-underline:after{
  border: 1px solid rgba(0, 0, 0, 0.42);
  height: 31px;
  border-radius: 4px;
}

/*.BookRoot .BookList__Search input{*/
/*  border: 1px solid rgba(0, 0, 0, 0.12);*/
/*  width: 100%;*/
/*  height: 35px;*/
/*  margin: 5px 0;*/
/*}*/

.BookRoot .BookList {
  padding: 10px;
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.BookRoot .BookContent {
  padding: 10px;
  flex: 1;
  overflow: auto;
}

.BookRoot .BookSearch{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.BookRoot .BookSearch .BookList__Search{
  border: 1px solid #e0e0e0;
}